:root {
    --main-color: #F28E1C;
    --border-highlight-color: #ffd100;
;
    --main-color-selection: #ffffff36;
    --main-color-projects: #e3e8ee;
    --main-color-light: rgb(238, 238, 238);

    --bg-darkmode: #3a3f47;
    --bg-darkmode2: #2b2d30;

    --font-color-softer: #6c6c6c;
    --font-color-softer-dark: #cecdcd;

    --padding-amount: 2em;
    --border-radius: 1em;
    --transition-time: .2s;
}

body {
  margin: 0;  
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.gridContainer {
    display: grid;

    background-color: white;
    color: black;
}

.gridContainerDark {
    background-color: var(--bg-darkmode);
    color: white;
}

.gridContainerDark .bottomSectionProjectsPanelIcons img, .gridContainerDark .avatarAlertSectionSmall {
    filter: invert(100%);
}

.mainSection {
    display: grid;

    overflow: overlay;
    min-width: 600px;
}

.topBanner {
    display: grid;
    /*
    background-color: white;
    color: black;
    */
}

.topBannerHeader, .topBannerMain {
    display: grid;
    /* grid-auto-columns: auto; 
    grid-column: 1fr 1fr; */
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1em;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;

    border-radius: var(--border-radius);
    background-color: var(--main-color-light);
    padding-left: 1em;
    margin: 0;
}

.topBannerHeaderDark input[type=text] {
    background-color: var(--bg-darkmode2);
    color: var(--font-color-softer-dark);
}

.topBannerMainLeft {
    display: grid;
    grid-template: 1fr / auto auto;
    justify-content: start;
    padding-left: var(--padding-amount);
    gap: 1em;
}

.topBannerMainLeft img {

    height: 80px;
    border-radius: 50%;
}

.topBannerMainLeft p, .topBannerMainLeft h2 {
    margin: 0;
}

.avatarAlertSection, .avatarAlertSectionSmall {
    width: 40px;
    border-radius: 50%;
}

.avatarAlertSectionSmall {
    width: 24px;
}

.topBannerMainLeftUsername {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topBannerMainRight {
    align-content: center;
    display: grid;
    
    grid-template-columns: 1fr auto auto auto;
    /*
    */
    justify-items: end;
    gap: 1em;
    padding: 0 1em;
}

.darkModeContainer {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--main-color-light);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.darkModeContainerDark {
    background-color: var(--bg-darkmode2);
}

.colorPickWrapper {
    height: 2em;
    width: 2em;
    overflow: hidden;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.colorPickWrapper  input[type=color] {
    position: absolute;
    height: 4em;
    width: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;

    cursor: pointer;
}

.topBannerMainRight button {
    padding: 12px 24px;
    border-radius: 1.5em;
    border: 0px;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 8em;
    height: 3em;
    transition: var(--transition-time);

    cursor: pointer;
}

.topBannerMainRight button:hover {
    /*
    background-color: var(--main-color-highlight);
    */
    filter: brightness(120%);
    transition: var(--transition-time);
}

.bottomSection {
    background-color: var(--main-color-projects);
    color: black;

    display: grid;
    padding: var(--padding-amount);
    gap: var(--padding-amount);
}

.bottomSection p {
    color: var(--font-color-softer)
}

.bottomSectionDark {
    background-color: var(--bg-darkmode2);
    color: white;
}

.bottomSectionDark p {
    color: var(--font-color-softer-dark);
}

.bottomSection h3 {
    margin-top: 0;
}

.bottomSectionProjects {
    display: grid;
    grid-row: 1 / 3;
}

.bottomSectionProjectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--padding-amount);
}

.bottomSectionProjectsPanel {
    background-color: white;
    border-radius: var(--border-radius);
    overflow: hidden;

    box-shadow: 5px 5px 5px #00000021;
}

.bottomSectionProjectsPanelDark {
    background-color: var(--bg-darkmode);
    color: white;
}

.bottomSectionProjectsPanelContent {
    
    padding: 1.5em;

    height: 150px;
    /*
    max-height: 120px;
    overflow: hidden;
    */

    border-left-color: var(--border-highlight-color);
    border-left-width: 1em;
    /* border-left: 100px black; */
    /* border-style: solid; */
    border-left-style: solid;
}

.bottomSectionProjectsPanelContent #thumbnail {
    width: 100%;
}

.bottomSectionProjectsPanelIcons {
    display: flex;
    justify-content: end;
    gap: 1em;
}

.bottomSectionProjectsPanelCloseButton {
    height: 0;
    position: relative;
}

.bottomSectionProjectsPanel p {
    margin: 0.5em 0;
    overflow: hidden;
}

.bottomSectionProjectsPanel h3, .bottomSectionProjectsPanel h4 {
    margin: 0.5em 0;
}

.bottomSectionProjectsPanelIcons img, .bottomSectionProjectsPanelCloseButton img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    /*
    background-color: var(--main-color-light);
    border-radius: 50%;
    padding: 2px;
    */
}

.bottomSectionProjectsPanelCloseButton img {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}



h3, h4 {
    font-weight: 500;
}

h2 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}